<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head >
    <th:block th:replace="~{/layout/head::head}" />
    <title>ok chuwa</title>
</head>
<body>
<div id="wrapper">
    <!-- Topbar Start -->
    <th:block th:replace="/layout/navbar :: navbar" />
    <!-- end Topbar -->

    <!-- ========== Left Sidebar Start ========== -->
    <th:block th:replace="/layout/left-side-menu :: left-side-menu" />
    <!-- Left Sidebar End -->
    <div class="content-page">
        <div class="content">
            <!-- Start Content-->
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Upvex</a></li>
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboards</a></li>
                                    <li class="breadcrumb-item active">Dashboard</li>
                                </ol>
                            </div>
                            <h4 class="page-title">Dashboard</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->
               <div>
                   <h1>Hello</h1>
               </div>
                <!-- end row -->

            </div> <!-- container -->

        </div> <!-- content -->

        <!-- Footer Start -->
        <div th:replace = "/layout :: footer.footer"></div>
        <!-- end Footer -->

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->

</div>
<!-- Right Sidebar -->
<th:block th:replace="/layout/right-bar :: right-bar" />
<!-- /Right-bar -->

<!-- Right bar overlay-->
<div class="rightbar-overlay"></div>

<th:block th:replace="/layout/script :: scriptAll" />
</body>
</html>